@font-face {
    font-family: 'woowallet';
    src:  url('../fonts/woowallet.eot?tewfy0');
    src:  url('../fonts/woowallet.eot?tewfy0#iefix') format('embedded-opentype'),
        url('../fonts/woowallet.ttf?tewfy0') format('truetype'),
        url('../fonts/woowallet.woff?tewfy0') format('woff'),
        url('../fonts/woowallet.svg?tewfy0#woowallet') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color--rgb: 0,124,186;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-10--rgb: 0,107,161;
    --wp-admin-theme-color-darker-20: #005a87;
    --wp-admin-theme-color-darker-20--rgb: 0,90,135;
    --wp-admin-border-width-focus: 2px;
}

[class^="woo-wallet-icon-"], [class*=" woo-wallet-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'woowallet' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.woo-wallet-icon-wallet:before {
    content: "\e900";
}
#adminmenu #toplevel_page_woo-wallet .menu-icon-generic div.wp-menu-image::before{
    font-family: 'woowallet' !important;
    content: "\e900";
}

.wallet-settings-wrap {
    display: flex;
    border: 1px solid #c8d7e1;
    h2.nav-tab-wrapper {
        flex: 1;
        border-bottom: none;
        padding: 0;
        background: #f1f1f1;
        border-right: 1px solid #c8d7e1;
        a {
            float: none;
            display: block;
            margin: 0;
            border: none;
            padding: 13px 13px;
            background: #f1f1f1;
            font-weight: 500;
            border-bottom: 1px solid #c8d7e1;
        }
        a.nav-tab-active {
            background: #fff !important;
            border-right: 1px solid #c8d7e1;
            width: 99%;
            color: #2e4453;
            .dashicons {
                &:before {
                    color: #008EC2;
                }
            }
        }
    }
    .metabox-holder {
        flex: 3;
        padding-left: 3%;
        padding-right: 10px;
        background: #fff;
    }
}
.column-actions {
    .wallet-manage {
        &::after {
            font-family: Dashicons;
            font-weight: 400;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            text-indent: 0px;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            content: "\f111";
            margin: 0px;
        }
    }
    .wallet-view {
        &::after {
            font-family: Dashicons;
            font-weight: 400;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            text-indent: 0px;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            content: "\f177";
            margin: 0px;
        }
    }
}
.form-table .wpsa-attachment{
    vertical-align: bottom ;
    margin: 0 0 5px 5px;
}

.toplevel_page_woo-wallet{
    #TB_title {
		display: none;
	}
    #TB_ajaxContent {
		width: 100% !important;
		padding: 0 !important;
	}
    .woo-wallet-edit-balance-tb-main{
        header {
            height: auto;
            background: #fcfcfc;
            padding: 1em 1.5em;
            border-bottom: 1px solid #ddd;
            display: block;
            position: relative;
            h1 {
                margin: 0;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5em;
            }
            .modal-close-link {
                cursor: pointer;
                color: #777;
                height: 54px;
                width: 54px;
                padding: 0;
                position: absolute;
                top: 0;
                right: 0;
                text-align: center;
                border: 0;
                border-left: 1px solid #ddd;
                background-color: transparent;
                transition: color .1s ease-in-out, background .1s ease-in-out;
            }
        }
        fieldset{
            padding: 14px;
        }
        .current-balance{
            float: right;
            margin-right: 54px;
            margin-top: 5px;
        }
        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            padding: 1em 1.5em;
            background: #fcfcfc;
            border-top: 1px solid #dfdfdf;
        }
        .inner {
            line-height: 23px;
        }
        .button.button-large {
            margin-left: 10px;
            padding: 0 10px !important;
            line-height: 28px;
            height: auto;
            display: inline-block;
        }
    }
}
#setting-error-terawallet{
    a{
        text-decoration: none;
    }
}
