.column-actions .add::after {
    font-family: Dashicons;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-indent: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f111";
    margin: 0px;
}

.column-actions .view::after {
    font-family: Dashicons;
    font-weight: 400;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-indent: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f177";
    margin: 0px;
}